@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.op-gg-header {
  font-family: 'Roboto100', sans-serif;
  font-size: 14px;
  padding: 0 12px;
  line-height: 35px;
}

.op-gg-card {
  margin-top: 8px;
  border-radius: 4px;
  background-color: #31313c;
  color: white;
}

.op-gg-content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #1c1c1f;
}

.op-gg-tier-img {
  background-color: #282830;
  border-radius: 50%;
  vertical-align: middle;
}

.op-gg-info {
  flex: 1 1 0%;
  position: relative;
  margin-left: 16px;
}

.op-gg-info > .tier {
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}
.op-gg-info > .lp {
  line-height: 16px;
  margin-top: 2px;
  font-size: 12px;
  color: #9e9eb1;
  font-family: Roboto, sans-serif;
}

.op-gg-win-loss-container {
  font-size: 12px;
  text-align: right;
  color: #7b7a8e;
}

.op-gg-win-loss-container > .win-lose {
  line-height: 26px;
}

.op-gg-win-loss-container > .ratio {
  margin-top: 2px;
  line-height: 16px;
}
